<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 定义日志文件的位置 -->
    <property name="LOG_FILE" value="logs/mylog.log"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%t] %c{1.} - %m%n%ex</pattern>
        </encoder>
    </appender>
    
    <!-- 配置FileAppender，将日志输出到文件 -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE}</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%t] %c{1.} - %m%n%ex</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/> <!-- 将日志同时输出到文件 -->
    </root>

</configuration>
